### back end
venv/
docquest/*.sqlite3
Backend/*.sqlite3
*.sqlite3
uploads/
myvenv/
venv/
venv-wyn/
venv_/
venv3/
__pycache__/
*.pyc
.vscode
.history/

# directories
attendance_records/
modules/
photo_documentations/
staticfiles/

### front end

# dependencies
/node_modules
Frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

