asgiref==3.8.1
certifi==2024.8.30
distlib==0.3.8
Django==5.0.6
filelock==3.16.1
packaging==24.1
pipenv==2024.0.3
platformdirs==4.3.6
psycopg2-binary==2.9.9
sqlparse==0.5.0
tzdata==2024.1
vboxapi==1.0
virtualenv==20.26.6
